<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <form class="center-content-fixed" [formGroup]="getForm()">
    <h1 class="center font-semibold text-3xl mb-6 select-none">Criar Conta</h1>
    <span class="px-4 mb-3 w-full">
      <input
        class="w-full"
        type="text"
        placeholder="Nome da Familia"
        pInputText
        formControlName="nomeDaFamilia" />
      <small *ngIf="getNomeDaFamiliaRequired"
        >Nome da familia é obrigatório.</small
      >
      <small *ngIf="getNomeDaFamiliaInvalid">Nome da familia é inválido.</small>
    </span>

    <span class="px-4 mb-3 w-full">
      <input
        class="w-full"
        type="email"
        placeholder="E-mail do Responsável"
        pInputText
        email
        formControlName="email" />
      <small *ngIf="getEmailRequired">Email é obrigatório.</small>
      <small *ngIf="getEmailInvalid">Email é inválido.</small>
    </span>

    <ion-button
      id="abrir-modal"
      class="w-full grid px-4 mt-3 text-lg"
      color="danger"
      fill="solid"
      [disabled]="!this.form.valid"
      expand="block">
      Criar conta
    </ion-button>

    <div class="mt-3 text-xs">
      <ion-label class="mr-2 text-color select-none"
        >Já tem uma conta?</ion-label
      >
      <a
        id="entre-agora"
        class="text-xs select-none"
        (click)="onClickNavigateToLogin()"
        >Entre agora</a
      >
    </div>
  </form>
  <div class="wrap-end">
    <div class="mt-3 text-xs">
      <ion-label class="mr-2 text-color select-none"
        >Ao clicar em “Criar Conta” você concorda com os nossos
        <a
          id="entre-agora"
          class="text-xs select-none"
          (click)="setOpenTermosDeUso(true)"
          >Termos de Uso e Política de Privacidade.</a
        >
      </ion-label>
    </div>
  </div>

  <ion-modal [isOpen]="isModalTermosDeUsoOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title
            class="text-base nowrap flex-nowrap flex-no-wrap flex select-none">
            Termos de Uso e de Coleta de Dados
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenTermosDeUso(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="text-900">
          <p>
            Para propósitos deste acordo, o usuário deve estar ciente do acordo
            e total insurgência da empresa perante divulgações sigilosas
            coletadas em prol do funcionamento da aplicação:
          </p>
          <p>
            1. Do objeto A plataforma Play Store tem a disponibilidade de
            licenciar o uso do aplicativo provendo as ferramentas existentes
            para auxiliar a difusão e funcionalidades existentes no aplicativo
            para os usuários. <br />
            A plataforma representa a utilização e suporte do serviço e
            aplicativo: Handoven - Meal On Your Hands. <br />
            A plataforma exerce e permite a venda remota por meio eletrônico
            digitalmente do produto: Handoven - Meal On Your Hands.
          </p>
          <p>
            2. Da aceitação O referente termo estabelece como obrigações
            oferecidas pela equipe responsável do desenvolvimento do aplicativo
            a realização de um acordo entre plataforma e as pessoas sendo elas
            físicas ou jurídicas e demais usuários do aplicativo. <br />
            Ao utilizar o aplicativo pela plataforma o usuário aceita
            integralmente as atuais normas apresentadas até então e se
            responsabiliza de observar, sob os riscos envolvidos na utilização
            do aplicativo. <br />
            A aceitação do acordo é imprescindível para a utilização e
            funcionalidade dos serviços oferecidos pela equipe. Caso o usuário
            tenha alguma objeção contra o uso dos serviços, o usuário não poderá
            utilizá-los.
          </p>
          <p>
            3. Do acesso dos usuários A navegação no aplicativo ou em algumas
            funcionalidades do aplicativo poderão ser interrompidas, sem
            qualquer aviso prévio para atualizações, modificações ou alterações
            para estabelecimento de melhorias no funcionamento.
          </p>
          <p>
            4.Do Cadastro Para acesso às funcionalidades do aplicativo
            solicitar-se-á a realização de um cadastro prévio e a depender dos
            tipos de planos escolhidos, sobre o pagamento de determinados
            valores.
            <br />
            Ao se cadastrar o usuário deverá informar dados completos, recentes
            e válidos, sendo de sua exclusiva responsabilidade o fornecimento da
            autenticidade dos dados fornecidos e da atualização dos dados.
            <br />
            O usuário se compromete a não informar seus dados cadastrais e/ou de
            acesso a plataforma a terceiros, responsabilizando-se integralmente
            pelo uso que deles seja feito. A usuários menor de 18 anos e
            usuários que não possuírem plena capacidade civil de qualquer modo,
            deverá haver previamente o consentimento atribuído pelos
            responsáveis legais para utilização do aplicativo e serviços, sendo
            de responsabilidade exclusiva dos mesmos caso eventual acesso por
            menores de idade e por aqueles que não apresentam plena capacidade
            civil sem a devida autorização. <br />
            Perante a realização do cadastro o usuário declara e garante estar
            instruído de ser capaz de exercer e usufruir dos serviços e
            funcionalidades do aplicativo. <br />
            O usuário deverá fornecer um endereço disponível e válido de e-mail,
            pelo qual será realizado contato do suporte ou comunicação com a
            equipe do aplicativo. <br />
            Após a confirmação do cadastro, o usuário adquire um login e uma
            senha para uso pessoal que poderá ser compartilhado com sua família.
            Sendo então o usuário líder da família responsável por realizar a
            manutenção e solicitação de uso consciente dos logins e alteração de
            senhas, lembrando-se de evitar o acesso indevido às informações
            pessoais a terceiros (excluindo a equipe Handoven). <br />
            Em síntese toda e qualquer atividade realizada com uso de login e
            senha, será primordialmente do usuário, que deverá informar
            corretamente a equipe do aplicativo em caso de uso indevido da
            respectiva senha.<br />
            Não é permitido ceder, vender, alugar ou transferir, de qualquer
            forma a conta pessoal, sendo esta intransferível. <br />

            O usuário deverá assegurar que seu aparelho/dispositivo seja
            compatível com as características técnicas devidamente requisitadas
            para que seja permitido o uso do aplicativo e serviços. <br />

            O usuário poderá, a qualquer momento, solicitar o cancelamento do
            seu cadastro individual ou família junto a função de cancelamento no
            aplicativo. O seu descadastro será realizado o mais rapidamente
            possível desde que não sejam verificadas pendências de débitos em
            aberto. <br />

            O usuário, ao aceitar os Termos e Política de Privacidade, autoriza
            expressamente o aplicativo a coletar, usar, armazenar, tratar, ceder
            ou utilizar as informações derivadas do uso dos serviços e
            funcionalidade do aplicativo e site, incluindo todas as informações
            preenchidas pelo usuário quando realizar ou atualizar seu cadastro,
            junto a autorização determinadas na Política de Privacidade que
            deverá ser autorizada pelo usuário.
          </p>
          <p>
            5. Dos serviços oferecidos O aplicativo poderá disponibilizar ao
            usuário um conjunto dependente de funcionalidades e ferramentas para
            otimizar ou melhorar o uso dos serviços no aplicativo. <br />
            No aplicativo os planos oferecidos estão descritos e apresentados
            com maior 76 grau de exatidão, contendo informações sobre suas
            qualidades, quantidades, composição, preço, garantia, prazos de
            validade e origem, entre outros dados, bem como os riscos que
            apresentam à saúde e sua segurança ao usuário.
          </p>
          <p>
            6. Dos preços O aplicativo se reserva ao direito de reajustar
            unilateralmente, em qualquer tempo, os valores dos serviços ou
            funcionalidades sem consulta ou homologação de acordos com o
            usuário.
            <br />
            Os valores a serem aplicados são aqueles que estão em vigor no
            momento do pedido. <br />
            Os preços são indicados na atual medida de unidade monetária do
            Brasil o “real” ou “BRL” e não incluem as taxas de entrega de
            produtos ou alimentos, estas são devidamente informadas ao usuário
            antes da finalização do pedido. <br />
            Na contratação de determinado serviço ou produto, o aplicativo
            poderá solicitar as informações financeiras do usuário por meio de
            plataforma de terceiros (Play Store ou App Store) como CPF, endereço
            de cobrança e dados de cartões. Ao inserir referidos dados, o
            usuário único ou representante/líder da família concorda que sejam
            cobrados, de acordo com a forma de pagamento escolhida, os preços
            vigentes e informados quando na contratação. Posteriormente dados
            financeiros poderão ser armazenados para facilitar a eficiência do
            aplicativo relacionadas ao acesso e contratações de planos e
            serviços futuros. <br />
            A contratação dos serviços contendo funcionalidades exclusivas aos
            pagantes do plano pro será renovada automaticamente pela plataforma,
            independente de comunicação com o usuário, mediante cobrança anual
            da mesma forma de pagamento identificada pelo usuário na contratação
            do serviço.
          </p>
          <p>
            7. Do cancelamento O usuário ou família poderá rescindir a
            contratação dos serviços de acordo com os termos que forem definidos
            no momento de sua contratação. O usuário ou família também poderá
            cancelar os serviços em até 7(sete) dias após a contratação,
            mediante contato com suporte, de acordo com o Código de Defesa do
            Consumidor (Lei no. 8.078/90). <br />
            O serviço e funcionalidades pagas poderão ser canceladas por: <br />
            a) Parte do usuário ou família: nessas condições os serviços
            cessarão quando concluído o ciclo vigente ao tempo do cancelamento;
            <br />
            b) Violação dos Termos de Uso: os serviços serão cessados
            imediatamente.
          </p>

          <p>
            8. Do suporte Em caso de qualquer dúvida, sugestão ou problema com a
            utilização do aplicativo, serviços ou funcionalidade do mesmo, o
            usuário ou família poderá entrar em contato com o suporte, através
            do email:
            <a class="text-900" href="mailto:handoventcc@gmail.com"
              >handoventcc@gmail.com</a
            >
            ou telefone:
            <a class="text-900" href="tel:+77 15 99170-0977."
              >77 15 99170-0977.</a
            >
            <br />
            Estes serviços de atendimento ao usuário estarão disponíveis nos
            seguintes dias e horários: 5 dias na semana das 11 (onze) horas da
            manhã as 18 (dezoito) horas da noite.
          </p>
          <p>
            9. Das responsabilidades É de responsabilidade do usuário líder e
            família: <br />
            a)Defeitos ou vícios técnicos originados no próprio sistema do
            usuário ou família; <br />
            b)A correta utilização da plataforma, dos serviços ou produtos
            oferecidos, prezando pela boa convivência, cordialidade e respeito
            entre os usuários do aplicativo ou das famílias. <br />
            c)Pelo cumprimento e respeito ao conjunto de regras disposto neste
            Termo de Condições Geral de Uso, na respectiva Política de
            Privacidade e na legislação nacional e internacional. <br />
            d) Pela proteção dos dados de acesso à sua conta/perfil (login e
            senha) individual ou da família. É de responsabilidade da
            plataforma: Play Store e App Store: <br />
            a)Indicar as características do serviço ou produto; <br />
            b) os defeitos e vícios encontrados no serviço ou aplicativo
            oferecido desde que lhe tenha dado causa; <br />
            c)As informações que foram por ele divulgadas sendo que os
            comentários ou informações divulgadas por usuários são de inteira
            responsabilidades dos próprios usuários; <br />
            d)Os conteúdos ou atividades ilícitas praticadas através da sua
            plataforma. A plataforma não se responsabiliza por links externos
            contidos em seu sistema que possam redirecionar o usuário ou família
            à ambiente externo a sua rede. <br />
            Não poderão ser incluídos links externos ou páginas que sirvam para
            fins comerciais ou publicitários ou quaisquer informações ilícitas,
            violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias
            ou ofensivas.
          </p>
          <p>
            10. Dos direitos autorais O presente Termo de Uso concede aos
            usuários uma licença não exclusiva, não transferível e não
            sublicenciável, para acessar e fazer uso da plataforma e dos
            serviços e funcionalidades do aplicativo por ela disponibilizados.
            <br />
            A estrutura do site ou aplicativo, as marcas, logotipos, nomes
            comerciais, layouts, gráficos e design de interface, imagens,
            ilustrações, fotografias, apresentações, vídeos, conteúdos escritos
            e de som e áudio, programas de computador, banco de dados, arquivos
            de transmissão e quaisquer outras 78 informações e direitos de
            propriedade intelectual da razão social Handoven - Meal On Your
            Hands, observados os termos da Lei da Propriedade Industrial ( Lei
            n° 9.279/96), Lei de Direitos Autorais (Lei n° 9.610/98) e Lei de
            Software (Lei n° 9.609 /98), estão devidamente reservados. <br />
            Estes termos de Uso não cedem ou transferem ao usuário ou família
            qualquer direito, de modo que o acesso não gera qualquer direito de
            propriedade intelectual ao usuário, exceto pela licença limitada ora
            concedida. <br />
            O uso da plataforma pelo usuário é pessoal, podendo ser coletiva
            para usuários da família dentro do aplicativo, mas sendo
            intransferível, sendo vedado qualquer uso não autorizado, comercial
            ou não comercial. Tais usos consistirão em violação dos direitos de
            propriedade intelectual da razão social Handoven - Meal On Your
            Hands, puníveis nos termos da legislação aplicável.
          </p>
          <p>
            11. Das sanções Sem prejuízo das demais medidas legais cabíveis, a
            razão social Handoven - Meal On Your Hands, poderá, a qualquer
            momento advertir, suspender ou cancelar a conta do usuário ou
            família: <br />
            a)Que violar qualquer dispositivo do presente Termo; <br />
            b)Que descumprir os seus deveres de usuário; <br />
            c)Que tenha qualquer comportamento fraudulento, doloso ou que ofenda
            a terceiros.
          </p>

          <p>
            12. Da rescisão A não observância das obrigações pactuadas neste
            Termo de Uso ou da legislação aplicável poderá, sem prévio aviso,
            ensejar a imediata rescisão unilateral por parte da razão social
            Handoven - Meal On Your Hands e o bloqueio de todos os serviços
            prestados ao usuário.
          </p>
          <p>
            13. Das alterações Os itens descritos no presente instrumento
            poderão sofrer alterações, unilateralmente e a qualquer tempo, por
            parte de Handoven - Meal On Your Hands, para adequar ou modificar os
            serviços, bem como para atender novas exigências legais. As
            alterações serão veiculadas OU pelo site
            <a class="text-900" href="https://github.com/handoven-tcc"
              >https://github.com/handoven-tcc</a
            >
            OU pelo aplicativo Handoven e o usuário ou família poderá optar por
            aceitar o novo conteúdo ou por cancelar o uso dos serviços, caso
            seja assinante de algum serviço. <br />
            Os serviços oferecidos podem, a qualquer tempo e unilateralmente, e
            sem qualquer aviso prévio, deixar de serem fornecidos, ser alterados
            em suas características, bem como restringidos para o uso ou acesso.
          </p>
          <p>
            14. Da política de privacidade Além do presente Termo, o usuário
            deverá assentir com as disposições contidas na respectiva Política
            de Privacidade a ser apresentada a todos os 79 interessados dentro
            da interface da plataforma.
          </p>
          <p>
            15. Do foro Para a solução de controvérsias decorrentes do presente
            instrumento será aplicado integralmente o Direito brasileiro. <br />
            Os eventuais litígios deverão ser apresentados no foro da empresa em
            que se encontra a sede da empresa.
          </p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-modal
  #modal
  trigger="abrir-modal"
  [canDismiss]="canDismiss"
  [keepContentsMounted]="true"
  [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="select-none">Termos de Uso</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onClickFecharModal(modal)">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <p class="text-900 ion-padding-horizontal select-none">
        Você deve aceitar os termos de uso e as políticas de privacidade para
        fechar esse modal.
      </p>

      <ion-item>
        <ion-checkbox
          id="terms"
          class="text-900 select-none"
          labelPlacement="start"
          (ionChange)="onTermsChanged($event)"
          [checked]="canDismiss"
          >Você aceita os termos de uso?</ion-checkbox
        >
      </ion-item>
      <div class="text-900 text-sm">
        <p>
          Para propósitos deste acordo, o usuário deve estar ciente do acordo e
          total insurgência da empresa perante divulgações sigilosas coletadas
          em prol do funcionamento da aplicação:
        </p>
        <p>
          1. Do objeto A plataforma Play Store tem a disponibilidade de
          licenciar o uso do aplicativo provendo as ferramentas existentes para
          auxiliar a difusão e funcionalidades existentes no aplicativo para os
          usuários. <br />
          A plataforma representa a utilização e suporte do serviço e
          aplicativo: Handoven - Meal On Your Hands. <br />
          A plataforma exerce e permite a venda remota por meio eletrônico
          digitalmente do produto: Handoven - Meal On Your Hands.
        </p>
        <p>
          2. Da aceitação O referente termo estabelece como obrigações
          oferecidas pela equipe responsável do desenvolvimento do aplicativo a
          realização de um acordo entre plataforma e as pessoas sendo elas
          físicas ou jurídicas e demais usuários do aplicativo. <br />
          Ao utilizar o aplicativo pela plataforma o usuário aceita
          integralmente as atuais normas apresentadas até então e se
          responsabiliza de observar, sob os riscos envolvidos na utilização do
          aplicativo. <br />
          A aceitação do acordo é imprescindível para a utilização e
          funcionalidade dos serviços oferecidos pela equipe. Caso o usuário
          tenha alguma objeção contra o uso dos serviços, o usuário não poderá
          utilizá-los.
        </p>
        <p>
          3. Do acesso dos usuários A navegação no aplicativo ou em algumas
          funcionalidades do aplicativo poderão ser interrompidas, sem qualquer
          aviso prévio para atualizações, modificações ou alterações para
          estabelecimento de melhorias no funcionamento.
        </p>
        <p>
          4.Do Cadastro Para acesso às funcionalidades do aplicativo
          solicitar-se-á a realização de um cadastro prévio e a depender dos
          tipos de planos escolhidos, sobre o pagamento de determinados valores.
          <br />
          Ao se cadastrar o usuário deverá informar dados completos, recentes e
          válidos, sendo de sua exclusiva responsabilidade o fornecimento da
          autenticidade dos dados fornecidos e da atualização dos dados.
          <br />
          O usuário se compromete a não informar seus dados cadastrais e/ou de
          acesso a plataforma a terceiros, responsabilizando-se integralmente
          pelo uso que deles seja feito. A usuários menor de 18 anos e usuários
          que não possuírem plena capacidade civil de qualquer modo, deverá
          haver previamente o consentimento atribuído pelos responsáveis legais
          para utilização do aplicativo e serviços, sendo de responsabilidade
          exclusiva dos mesmos caso eventual acesso por menores de idade e por
          aqueles que não apresentam plena capacidade civil sem a devida
          autorização. <br />
          Perante a realização do cadastro o usuário declara e garante estar
          instruído de ser capaz de exercer e usufruir dos serviços e
          funcionalidades do aplicativo. <br />
          O usuário deverá fornecer um endereço disponível e válido de e-mail,
          pelo qual será realizado contato do suporte ou comunicação com a
          equipe do aplicativo. <br />
          Após a confirmação do cadastro, o usuário adquire um login e uma senha
          para uso pessoal que poderá ser compartilhado com sua família. Sendo
          então o usuário líder da família responsável por realizar a manutenção
          e solicitação de uso consciente dos logins e alteração de senhas,
          lembrando-se de evitar o acesso indevido às informações pessoais a
          terceiros (excluindo a equipe Handoven). <br />
          Em síntese toda e qualquer atividade realizada com uso de login e
          senha, será primordialmente do usuário, que deverá informar
          corretamente a equipe do aplicativo em caso de uso indevido da
          respectiva senha.<br />
          Não é permitido ceder, vender, alugar ou transferir, de qualquer forma
          a conta pessoal, sendo esta intransferível. <br />

          O usuário deverá assegurar que seu aparelho/dispositivo seja
          compatível com as características técnicas devidamente requisitadas
          para que seja permitido o uso do aplicativo e serviços. <br />

          O usuário poderá, a qualquer momento, solicitar o cancelamento do seu
          cadastro individual ou família junto a função de cancelamento no
          aplicativo. O seu descadastro será realizado o mais rapidamente
          possível desde que não sejam verificadas pendências de débitos em
          aberto. <br />

          O usuário, ao aceitar os Termos e Política de Privacidade, autoriza
          expressamente o aplicativo a coletar, usar, armazenar, tratar, ceder
          ou utilizar as informações derivadas do uso dos serviços e
          funcionalidade do aplicativo e site, incluindo todas as informações
          preenchidas pelo usuário quando realizar ou atualizar seu cadastro,
          junto a autorização determinadas na Política de Privacidade que deverá
          ser autorizada pelo usuário.
        </p>
        <p>
          5. Dos serviços oferecidos O aplicativo poderá disponibilizar ao
          usuário um conjunto dependente de funcionalidades e ferramentas para
          otimizar ou melhorar o uso dos serviços no aplicativo. <br />
          No aplicativo os planos oferecidos estão descritos e apresentados com
          maior 76 grau de exatidão, contendo informações sobre suas qualidades,
          quantidades, composição, preço, garantia, prazos de validade e origem,
          entre outros dados, bem como os riscos que apresentam à saúde e sua
          segurança ao usuário.
        </p>
        <p>
          6. Dos preços O aplicativo se reserva ao direito de reajustar
          unilateralmente, em qualquer tempo, os valores dos serviços ou
          funcionalidades sem consulta ou homologação de acordos com o usuário.
          <br />
          Os valores a serem aplicados são aqueles que estão em vigor no momento
          do pedido. <br />
          Os preços são indicados na atual medida de unidade monetária do Brasil
          o “real” ou “BRL” e não incluem as taxas de entrega de produtos ou
          alimentos, estas são devidamente informadas ao usuário antes da
          finalização do pedido. <br />
          Na contratação de determinado serviço ou produto, o aplicativo poderá
          solicitar as informações financeiras do usuário por meio de plataforma
          de terceiros (Play Store ou App Store) como CPF, endereço de cobrança
          e dados de cartões. Ao inserir referidos dados, o usuário único ou
          representante/líder da família concorda que sejam cobrados, de acordo
          com a forma de pagamento escolhida, os preços vigentes e informados
          quando na contratação. Posteriormente dados financeiros poderão ser
          armazenados para facilitar a eficiência do aplicativo relacionadas ao
          acesso e contratações de planos e serviços futuros. <br />
          A contratação dos serviços contendo funcionalidades exclusivas aos
          pagantes do plano pro será renovada automaticamente pela plataforma,
          independente de comunicação com o usuário, mediante cobrança anual da
          mesma forma de pagamento identificada pelo usuário na contratação do
          serviço.
        </p>
        <p>
          7. Do cancelamento O usuário ou família poderá rescindir a contratação
          dos serviços de acordo com os termos que forem definidos no momento de
          sua contratação. O usuário ou família também poderá cancelar os
          serviços em até 7(sete) dias após a contratação, mediante contato com
          suporte, de acordo com o Código de Defesa do Consumidor (Lei no.
          8.078/90). <br />
          O serviço e funcionalidades pagas poderão ser canceladas por: <br />
          a) Parte do usuário ou família: nessas condições os serviços cessarão
          quando concluído o ciclo vigente ao tempo do cancelamento;
          <br />
          b) Violação dos Termos de Uso: os serviços serão cessados
          imediatamente.
        </p>

        <p>
          8. Do suporte Em caso de qualquer dúvida, sugestão ou problema com a
          utilização do aplicativo, serviços ou funcionalidade do mesmo, o
          usuário ou família poderá entrar em contato com o suporte, através do
          email:
          <a class="text-900" href="mailto:handoventcc@gmail.com"
            >handoventcc@gmail.com</a
          >
          ou telefone:
          <a class="text-900" href="tel:+77 15 99170-0977."
            >77 15 99170-0977.</a
          >
          <br />
          Estes serviços de atendimento ao usuário estarão disponíveis nos
          seguintes dias e horários: 5 dias na semana das 11 (onze) horas da
          manhã as 18 (dezoito) horas da noite.
        </p>
        <p>
          9. Das responsabilidades É de responsabilidade do usuário líder e
          família: <br />
          a)Defeitos ou vícios técnicos originados no próprio sistema do usuário
          ou família; <br />
          b)A correta utilização da plataforma, dos serviços ou produtos
          oferecidos, prezando pela boa convivência, cordialidade e respeito
          entre os usuários do aplicativo ou das famílias. <br />
          c)Pelo cumprimento e respeito ao conjunto de regras disposto neste
          Termo de Condições Geral de Uso, na respectiva Política de Privacidade
          e na legislação nacional e internacional. <br />
          d) Pela proteção dos dados de acesso à sua conta/perfil (login e
          senha) individual ou da família. É de responsabilidade da plataforma:
          Play Store e App Store: <br />
          a)Indicar as características do serviço ou produto; <br />
          b) os defeitos e vícios encontrados no serviço ou aplicativo oferecido
          desde que lhe tenha dado causa; <br />
          c)As informações que foram por ele divulgadas sendo que os comentários
          ou informações divulgadas por usuários são de inteira
          responsabilidades dos próprios usuários; <br />
          d)Os conteúdos ou atividades ilícitas praticadas através da sua
          plataforma. A plataforma não se responsabiliza por links externos
          contidos em seu sistema que possam redirecionar o usuário ou família à
          ambiente externo a sua rede. <br />
          Não poderão ser incluídos links externos ou páginas que sirvam para
          fins comerciais ou publicitários ou quaisquer informações ilícitas,
          violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou
          ofensivas.
        </p>
        <p>
          10. Dos direitos autorais O presente Termo de Uso concede aos usuários
          uma licença não exclusiva, não transferível e não sublicenciável, para
          acessar e fazer uso da plataforma e dos serviços e funcionalidades do
          aplicativo por ela disponibilizados.
          <br />
          A estrutura do site ou aplicativo, as marcas, logotipos, nomes
          comerciais, layouts, gráficos e design de interface, imagens,
          ilustrações, fotografias, apresentações, vídeos, conteúdos escritos e
          de som e áudio, programas de computador, banco de dados, arquivos de
          transmissão e quaisquer outras 78 informações e direitos de
          propriedade intelectual da razão social Handoven - Meal On Your Hands,
          observados os termos da Lei da Propriedade Industrial ( Lei n°
          9.279/96), Lei de Direitos Autorais (Lei n° 9.610/98) e Lei de
          Software (Lei n° 9.609 /98), estão devidamente reservados. <br />
          Estes termos de Uso não cedem ou transferem ao usuário ou família
          qualquer direito, de modo que o acesso não gera qualquer direito de
          propriedade intelectual ao usuário, exceto pela licença limitada ora
          concedida. <br />
          O uso da plataforma pelo usuário é pessoal, podendo ser coletiva para
          usuários da família dentro do aplicativo, mas sendo intransferível,
          sendo vedado qualquer uso não autorizado, comercial ou não comercial.
          Tais usos consistirão em violação dos direitos de propriedade
          intelectual da razão social Handoven - Meal On Your Hands, puníveis
          nos termos da legislação aplicável.
        </p>
        <p>
          11. Das sanções Sem prejuízo das demais medidas legais cabíveis, a
          razão social Handoven - Meal On Your Hands, poderá, a qualquer momento
          advertir, suspender ou cancelar a conta do usuário ou família: <br />
          a)Que violar qualquer dispositivo do presente Termo; <br />
          b)Que descumprir os seus deveres de usuário; <br />
          c)Que tenha qualquer comportamento fraudulento, doloso ou que ofenda a
          terceiros.
        </p>

        <p>
          12. Da rescisão A não observância das obrigações pactuadas neste Termo
          de Uso ou da legislação aplicável poderá, sem prévio aviso, ensejar a
          imediata rescisão unilateral por parte da razão social Handoven - Meal
          On Your Hands e o bloqueio de todos os serviços prestados ao usuário.
        </p>
        <p>
          13. Das alterações Os itens descritos no presente instrumento poderão
          sofrer alterações, unilateralmente e a qualquer tempo, por parte de
          Handoven - Meal On Your Hands, para adequar ou modificar os serviços,
          bem como para atender novas exigências legais. As alterações serão
          veiculadas OU pelo site
          <a class="text-900" href="https://github.com/handoven-tcc"
            >https://github.com/handoven-tcc</a
          >
          OU pelo aplicativo Handoven e o usuário ou família poderá optar por
          aceitar o novo conteúdo ou por cancelar o uso dos serviços, caso seja
          assinante de algum serviço. <br />
          Os serviços oferecidos podem, a qualquer tempo e unilateralmente, e
          sem qualquer aviso prévio, deixar de serem fornecidos, ser alterados
          em suas características, bem como restringidos para o uso ou acesso.
        </p>
        <p>
          14. Da política de privacidade Além do presente Termo, o usuário
          deverá assentir com as disposições contidas na respectiva Política de
          Privacidade a ser apresentada a todos os 79 interessados dentro da
          interface da plataforma.
        </p>
        <p>
          15. Do foro Para a solução de controvérsias decorrentes do presente
          instrumento será aplicado integralmente o Direito brasileiro. <br />
          Os eventuais litígios deverão ser apresentados no foro da empresa em
          que se encontra a sede da empresa.
        </p>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
