<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div class="center-content-fixed">
    <h1 class="center font-semibold text-3xl mb-6">Criar Conta</h1>
    <span class="px-4 mb-3 w-full">
      <input
        class="w-full"
        type="text"
        placeholder="Nome da Familia"
        pInputText
        [(ngModel)]="nomeDaFamilia" />
    </span>

    <span class="px-4 mb-3 w-full">
      <input
        class="w-full"
        type="email"
        placeholder="E-mail do Responsável"
        pInputText
        email
        [(ngModel)]="email" />
    </span>

    <ion-button
      class="w-full grid px-4 mt-3 text-lg"
      color="danger"
      fill="solid"
      expand="block"
      (click)="onClickProsseguir()">
      Criar conta
    </ion-button>
  </div>
</ion-content>
