<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <h1 class="center font-semibold text-4xl">Fazer Login</h1>
  </div>
  <div class="center-content-fixed">
    <ion-input
      class="px-4 mb-3"
      type="email"
      label="Email"
      color="danger"
      label-placement="floating"
      fill="outline"
      placeholder="Digite seu Email"
      [(ngModel)]="email"></ion-input>

    <ion-input
      class="px-4 mb-3"
      type="password"
      label="Senha"
      color="danger"
      label-placement="floating"
      fill="outline"
      placeholder="Digite seu Senha"
      [(ngModel)]="senha"></ion-input>

    <div class="w-full px-4 flex ion-justify-content-between">
      <ion-checkbox labelPlacement="end" [(ngModel)]="lembrar"
        >Lembrar de mim</ion-checkbox
      >
      <a class="text-500 text-sm"> Esqueci a senha </a>
    </div>

    <ion-button
      class="w-full grid px-4 mt-3 text-lg"
      color="danger"
      fill="solid"
      expand="block"
      (click)="onClickLogIn()">
      Fazer login
    </ion-button>
    <div class="mt-2 text-sm">
      <ion-label class="mr-2 text-color">Não tem uma conta?</ion-label>
      <a class="text-sm crie-agora">Crie agora</a>
    </div>
  </div>
</ion-content>
