{
    "editorconfig": true,
    "useTabs": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "singleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always"
}