<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-base text-white select-none"
      >Adicione um Produto</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content id="ion-content" [fullscreen]="true">
  <div class="bola-header"></div>
  <form class="content" [formGroup]="getForm()">
    <button id="btn-wrapper" (click)="onClickEscanear()">
      <div class="tirar-foto">
        <ion-icon color="light" name="barcode-outline"></ion-icon>
      </div>
      <ion-label id="label-tirar-foto" class="select-none text-0 mt-1"
        >Escanear</ion-label
      >
    </button>
    <div class="center-content-end">
      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Nome do Produto</span
        >
        <input
          class="w-full"
          type="text"
          placeholder="Pêssego"
          pInputText
          formControlName="nome" />
        <small class="select-none" *ngIf="getNomeRequired"
          >Nome é obrigatório.</small
        >
        <small class="select-none" *ngIf="getNomeInvalid"
          >Nome é inválido.</small
        >
      </div>

      <span class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Tipo do Produto</span
        >
        <ion-select
          name="tipo"
          aria-label="Selecione o Tipo"
          interface="popover"
          color="danger"
          fill="outline"
          class="text-900 select-button"
          [compareWith]="compareWith"
          (ionChange)="handleChangeTipo($event)"
          placeholder="Selecione o Tipo">
          <ion-select-option *ngFor="let item of tipo" [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
        <small class="select-none" *ngIf="getTipoRequired"
          >Tipo é obrigatório.</small
        >
      </span>

      <span class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Categoria do Produto</span
        >
        <ion-select
          name="categoria"
          aria-label="Selecione o Categoria"
          interface="popover"
          color="danger"
          fill="outline"
          class="text-900 select-button"
          [compareWith]="compareWith"
          (ionChange)="handleChangeCategoria($event)"
          placeholder="Selecione o Categoria">
          <ion-select-option *ngFor="let item of categoria" [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
        <small class="select-none" *ngIf="getCategoriaRequired"
          >Tipo é obrigatório.</small
        >
      </span>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Data de Validade</span
        >
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2">Custo</span>
        <p-inputNumber
          styleClass="w-full"
          class="w-full"
          formControlName="custo"
          inputId="currency-br"
          mode="currency"
          currency="BRL"
          locale="pt-BR">
        </p-inputNumber>
        <small class="select-none" *ngIf="getCustoRequired"
          >Custo é obrigatório.</small
        >
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Quantidade</span
        >
        <p-inputNumber
          styleClass="w-full"
          class="w-full"
          inputId="quantidade"
          formControlName="quantidade"></p-inputNumber>
        <small class="select-none" *ngIf="getQuantidadeRequired"
          >Quantidade é obrigatório.</small
        >
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Unidade de Medida</span
        >
        <ion-select
          name="unidadeDeMedida"
          aria-label="Selecione a Unidade de Medida"
          interface="popover"
          color="danger"
          fill="outline"
          class="text-900 select-button"
          [compareWith]="compareWith"
          (ionChange)="handleChangeUnidadeDeMedida($event)"
          placeholder="Selecione a Unidade de Medida">
          <ion-select-option
            *ngFor="let item of unidadeDeMedida"
            [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
        <small class="select-none" *ngIf="getUnidadeDeMedidaRequired"
          >Unidade de Medida é obrigatório.</small
        >
      </div>

      <div class="px-4 mb-3 w-full grid justify-content-between flex-row">
        <ion-button
          class="col-6 p-1 mx-0 mt-3 text-lg"
          color="light"
          fill="solid"
          expand="block"
          (click)="onClickCancelar()">
          Cancelar
        </ion-button>

        <ion-button
          class="col-6 p-1 mx-0 mt-3 text-lg"
          color="danger"
          fill="solid"
          [disabled]="!getDisableAdicionarDispensa()"
          expand="block"
          (click)="onClickAdicionarDispensa()">
          <div *ngIf="!loading">Adicionar</div>
          <div
            *ngIf="loading"
            class="col-12 flex align-items-center justify-content-center text-900 flex-column">
            <ion-infinite-scroll style="width: 20px">
              <div class="infinite-scroll-content">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 100 100"
                  enable-background="new 0 0 100 100"
                  xml:space="preserve">
                  <circle
                    fill="none"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-miterlimit="10"
                    cx="50"
                    cy="50"
                    r="48" />
                  <line
                    fill="none"
                    stroke-linecap="round"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-miterlimit="10"
                    x1="50"
                    y1="50"
                    x2="85"
                    y2="50.5">
                    <animateTransform
                      attributeName="transform"
                      dur="2s"
                      type="rotate"
                      from="0 50 50"
                      to="360 50 50"
                      repeatCount="indefinite" />
                  </line>
                  <line
                    fill="none"
                    stroke-linecap="round"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-miterlimit="10"
                    x1="50"
                    y1="50"
                    x2="49.5"
                    y2="74">
                    <animateTransform
                      attributeName="transform"
                      dur="15s"
                      type="rotate"
                      from="0 50 50"
                      to="360 50 50"
                      repeatCount="indefinite" />
                  </line>
                </svg>
              </div>
            </ion-infinite-scroll>
          </div>
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>

<ion-modal #modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      presentation="date"
      display-format="DD.MM.YYYY"
      locale="pt-BR"
      [showDefaultButtons]="true"
      [(ngModel)]="dataDeVencimento"
      id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
