<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-base text-white"
      >Falta pouco para criar sua conta</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content id="ion-content" [fullscreen]="true">
  <div class="bola-header"></div>
  <div class="content">
    <button id="btn-wrapper">
      <div class="tirar-foto">
        <ion-icon color="light" name="camera-outline"></ion-icon>
      </div>
      <label id="label-tirar-foto">Tirar foto</label>
    </button>
    <div class="center-content-end">
      <div class="px-4 mb-3 w-full">
        <span class="text-color font-bold block mb-2"
          >Nome completo do responsável</span
        >
        <input
          class="w-full"
          type="text"
          placeholder="Seu nome"
          pInputText
          [(ngModel)]="nome" />
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="text-color font-bold block mb-2"
          >Celular do responsável</span
        >
        <p-inputMask
          styleClass="w-full"
          mask="(99) 99999-9999"
          [(ngModel)]="celular"
          placeholder="(99) 99999-9999"></p-inputMask>
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="text-color font-bold block mb-2">Data de nascimento</span>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </div>
      <div class="px-4 mb-3 w-full">
        <span class="text-color font-bold block mb-2">Senha</span>
        <p-password
          class="mb-3 w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          placeholder="Digite sua senha"
          [feedback]="false"
          [(ngModel)]="senha"
          [toggleMask]="true"></p-password>
      </div>
      <div class="px-4 mb-3 w-full">
        <span class="text-color font-bold block mb-2">Repetir Senha</span>
        <p-password
          class="mb-3 w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          placeholder="Digite novamente sua senha"
          [feedback]="false"
          [(ngModel)]="senhaRepetida"
          [toggleMask]="true"></p-password>
      </div>
      <div class="px-4 mb-3 w-full">
        <ion-button
          class="w-full mt-3 text-lg"
          color="danger"
          fill="solid"
          expand="block"
          (click)="onClickCriarConta()">
          Finalizar cadastro
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      presentation="date"
      display-format="DD.MM.YYYY"
      locale="pt-BR"
      [showDefaultButtons]="true"
      [(ngModel)]="dataDeNascimento"
      id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>

<ion-alert
  trigger="btn-wrapper"
  header="Oops..."
  message="Desculpe, isso ainda não foi implementado 😢"
  [buttons]="alertButtons"></ion-alert>
