<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Criar conta interno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Criar conta interno</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input
        type="text"
        [value]="inputModel"
        (ionInput)="onInput($event)"
        #ionInputEl></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="onClickCriarFamilia()"
      >Enviar</ion-button
    >
  </ion-header>
</ion-content>
