<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-base text-white select-none"
      >Edite os seus dados</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content id="ion-content" [fullscreen]="true">
  <div class="bola-header"></div>
  <form class="content" [formGroup]="getForm()">
    <button id="btn-wrapper">
      <div class="tirar-foto">
        <ion-icon color="light" name="person-outline"></ion-icon>
      </div>
    </button>
    <div class="center-content-end">
      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Nome completo do responsável</span
        >
        <input
          class="w-full"
          type="text"
          placeholder="Seu nome"
          pInputText
          formControlName="nome" />
        <small class="select-none" *ngIf="getNomeRequired"
          >Nome é obrigatório.</small
        >
        <small class="select-none" *ngIf="getNomeInvalid"
          >Nome é inválido.</small
        >
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Celular do responsável</span
        >
        <p-inputMask
          styleClass="w-full"
          mask="(99) 99999-9999"
          formControlName="celular"
          placeholder="(99) 99999-9999"></p-inputMask>
        <small class="select-none" *ngIf="getCelularRequired"
          >Celular é obrigatório.</small
        >
        <small class="select-none" *ngIf="getCelularInvalid"
          >Celular é inválido.</small
        >
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Data de nascimento</span
        >
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <small class="select-none" *ngIf="!getDataDeNascimentoInvalid"
          >É preciso ter mais de 18 anos</small
        >
      </div>

      <div class="px-4 mb-3 w-full">
        <span class="select-none text-color font-bold block mb-2"
          >Senha Atual</span
        >
        <p-password
          class="mb-3 w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          placeholder="Digite sua senha"
          [feedback]="false"
          formControlName="senha"
          [toggleMask]="true"></p-password>
        <small class="select-none" *ngIf="getSenhaRequired"
          >Senha atual é obrigatório.</small
        >
        <small class="select-none" *ngIf="getSenhaInvalid"
          >Senha atual deve ter minimo 6 caracteres.</small
        >
      </div>

      <div class="px-4 mb-3 w-full grid justify-content-between flex-row">
        <ion-button
          class="col-6 p-1 mx-0 mt-3 text-lg"
          color="light"
          fill="solid"
          expand="block"
          (click)="onClickCancelar()">
          Cancelar
        </ion-button>

        <ion-button
          class="col-6 p-1 mx-0 mt-3 text-lg"
          color="danger"
          fill="solid"
          [disabled]="!getDisableEditarIntegrante()"
          expand="block"
          (click)="onClickEditarConta()">
          <div *ngIf="!loading">Salvar</div>
          <div
            *ngIf="loading"
            class="col-12 flex align-items-center justify-content-center text-900 flex-column">
            <ion-infinite-scroll style="width: 20px">
              <div class="infinite-scroll-content">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 100 100"
                  enable-background="new 0 0 100 100"
                  xml:space="preserve">
                  <circle
                    fill="none"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-miterlimit="10"
                    cx="50"
                    cy="50"
                    r="48" />
                  <line
                    fill="none"
                    stroke-linecap="round"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-miterlimit="10"
                    x1="50"
                    y1="50"
                    x2="85"
                    y2="50.5">
                    <animateTransform
                      attributeName="transform"
                      dur="2s"
                      type="rotate"
                      from="0 50 50"
                      to="360 50 50"
                      repeatCount="indefinite" />
                  </line>
                  <line
                    fill="none"
                    stroke-linecap="round"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-miterlimit="10"
                    x1="50"
                    y1="50"
                    x2="49.5"
                    y2="74">
                    <animateTransform
                      attributeName="transform"
                      dur="15s"
                      type="rotate"
                      from="0 50 50"
                      to="360 50 50"
                      repeatCount="indefinite" />
                  </line>
                </svg>
              </div>
            </ion-infinite-scroll>
          </div>
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>

<ion-modal #modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      presentation="date"
      display-format="DD.MM.YYYY"
      locale="pt-BR"
      [showDefaultButtons]="true"
      [(ngModel)]="dataDeNascimento"
      id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
