<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <header
    class="grid justify-content-between align-items-center text-900 px-5 pb-5">
    <h1 class="col-8">Dispensa</h1>
    <a
      class="col-2 flex justify-content-end"
      (click)="onClickAdicionarDispensa()">
      <ion-icon class="text-900" name="add" size="large"></ion-icon>
    </a>
  </header>

  <section>
    <ng-container *ngIf="loading">
      <div
        class="col-12 flex align-items-center justify-content-center text-900 flex-column">
        <ion-infinite-scroll class="w-1">
          <div class="infinite-scroll-content">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 100 100"
              enable-background="new 0 0 100 100"
              xml:space="preserve">
              <circle
                fill="none"
                stroke="#000"
                stroke-width="4"
                stroke-miterlimit="10"
                cx="50"
                cy="50"
                r="48" />
              <line
                fill="none"
                stroke-linecap="round"
                stroke="#000"
                stroke-width="4"
                stroke-miterlimit="10"
                x1="50"
                y1="50"
                x2="85"
                y2="50.5">
                <animateTransform
                  attributeName="transform"
                  dur="2s"
                  type="rotate"
                  from="0 50 50"
                  to="360 50 50"
                  repeatCount="indefinite" />
              </line>
              <line
                fill="none"
                stroke-linecap="round"
                stroke="#000"
                stroke-width="4"
                stroke-miterlimit="10"
                x1="50"
                y1="50"
                x2="49.5"
                y2="74">
                <animateTransform
                  attributeName="transform"
                  dur="15s"
                  type="rotate"
                  from="0 50 50"
                  to="360 50 50"
                  repeatCount="indefinite" />
              </line>
            </svg>
          </div>
        </ion-infinite-scroll>
        Carregando...
      </div>
    </ng-container>

    <ng-container *ngIf="!loading">
      <ng-container *ngIf="!hasProdutos">
        <div class="col-12 text-900">
          <p class="text-center">Sua dispensa está vazia! 😢</p>
          <p class="text-center">
            Para adicionar a dispensa por favor clique no <b>+</b> ou em
            <b>ADICIONAR A DISPENSA</b>...
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="hasProdutos">
        <ion-list *ngFor="let item of produtos">
          <ion-item>
            <div class="flex w-full justify-content-between align-items-center">
              <ion-label class="text-900" slot="start">{{
                item.name
              }}</ion-label>
              <div id="acoes" slot="end">
                <a (click)="onClickModalEditarProduto(item.id)">
                  <ion-icon
                    color="warning"
                    class="text-2xl"
                    name="pencil-sharp"></ion-icon>
                </a>
                <a (click)="onClickModalExcluirProduto(item.id)">
                  <ion-icon class="text-2xl" name="trash-outline"></ion-icon>
                </a>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ng-container>
    </ng-container>
  </section>

  <footer>
    <ion-button
      class="w-full text-lg"
      color="danger"
      fill="solid"
      expand="block"
      (click)="onClickAdicionarDispensa()">
      Adicionar a Dispensa
    </ion-button>
  </footer>
</ion-content>
