<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="handleRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <header
    class="grid justify-content-between align-items-center text-900 px-5 pb-5">
    <h1 class="col-9">Encontre sua receita favorita</h1>
    <a class="col-2 flex justify-content-end" (click)="onClickRefresh()">
      <ion-icon
        [ngClass]="{
          'c-red': !loading || hasReceitas,
          'text-500': loading || !hasReceitas
        }"
        name="fast-food-outline"
        size="large"></ion-icon>
    </a>

    <ion-searchbar
      class="pesquisar"
      placeholder="Pesquisar receita"
      [debounce]="1000"
      (ionInput)="handleInput($event)"></ion-searchbar>
  </header>

  <section>
    <ng-container *ngIf="loading">
      <div
        class="col-12 flex align-items-center justify-content-center text-900 flex-column">
        <ion-infinite-scroll class="w-1">
          <div class="infinite-scroll-content">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 100 100"
              enable-background="new 0 0 100 100"
              xml:space="preserve">
              <circle
                fill="none"
                stroke="#000"
                stroke-width="4"
                stroke-miterlimit="10"
                cx="50"
                cy="50"
                r="48" />
              <line
                fill="none"
                stroke-linecap="round"
                stroke="#000"
                stroke-width="4"
                stroke-miterlimit="10"
                x1="50"
                y1="50"
                x2="85"
                y2="50.5">
                <animateTransform
                  attributeName="transform"
                  dur="2s"
                  type="rotate"
                  from="0 50 50"
                  to="360 50 50"
                  repeatCount="indefinite" />
              </line>
              <line
                fill="none"
                stroke-linecap="round"
                stroke="#000"
                stroke-width="4"
                stroke-miterlimit="10"
                x1="50"
                y1="50"
                x2="49.5"
                y2="74">
                <animateTransform
                  attributeName="transform"
                  dur="15s"
                  type="rotate"
                  from="0 50 50"
                  to="360 50 50"
                  repeatCount="indefinite" />
              </line>
            </svg>
          </div>
        </ion-infinite-scroll>
        Carregando...
      </div>
    </ng-container>

    <ng-container *ngIf="!loading">
      <ng-container *ngIf="!hasReceitas">
        <ng-container *ngIf="!hasUsuario">
          <div class="col-12 text-900">
            <p class="text-center">
              Essa função não está disponível para convidados. Por favor faça
              login ou Cadastre-se no Handoven!
            </p>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="hasReceitaAlgoritmo">
        <ng-container *ngIf="hasUsuario">
          <div class="w-full px-4 py-2">
            <a
              (click)="onClickVerMais(ReceitaCategoria.Algoritmo)"
              class="flex ion-align-items-center ion-justify-content-between">
              <span class="text-900 fw-600">{{
                ReceitaCategoria[ReceitaCategoria.Algoritmo]
              }}</span>
              <span class="ver-mais"> Ver mais </span>
            </a>

            <swiper-container [slidesPerView]="2">
              <swiper-slide *ngFor="let receita of receitaAlgoritmo()">
                <img
                  (click)="onClickVisualizarReceita(receita.plate)"
                  class="border-round"
                  src="data:image/png;base64,{{ receita.plate.image }}"
                  alt="imagem da receita {{ receita.plate.name }}" />
              </swiper-slide>
            </swiper-container>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="hasReceitas">
        <div
          class="w-full px-4 py-2"
          *ngFor="let categoria of resultadosCategorias">
          <a
            (click)="onClickVerMais(categoria)"
            class="flex ion-align-items-center ion-justify-content-between">
            <span class="text-900 fw-600">{{
              ReceitaCategoria[categoria]
            }}</span>
            <span class="ver-mais"> Ver mais </span>
          </a>
          <swiper-container [slidesPerView]="2">
            <swiper-slide
              *ngFor="let receita of receitaPorCategoria(categoria)">
              <img
                (click)="onClickVisualizarReceita(receita)"
                class="border-round"
                src="data:image/png;base64,{{ receita.image }}"
                alt="imagem da receita {{ receita.name }}" />
            </swiper-slide>
          </swiper-container>
        </div>
      </ng-container>
    </ng-container>
  </section>
</ion-content>
