body{
  background-color: #17212f;
  color: white!important;
}

.bodyApp{
  background-color: #17212f!important;
}

.container-cadastro{
  padding-top: 5%;
  text-align: center;
  /* padding-left: 30%;
  padding-right: 30%; */
}

.btn-edit-one {
  width: 100%;
  height: 3rem;
  background-color: #C66263;
  border: 1px solid #C66267;
}

.btn-edit-one:focus, 
.btn-edit-one:hover,
.btn-edit-one:visited, 
.btn-edit-one:active
{
  width: 100%!important;
  height: 3rem!important;
  background-color: #E93639!important;
  border: 1px solid #E93640!important;
}

.input-edit{
  font-size:1rem;
  background-color: #3e444a!important;
  color: white!important;
  border: #1e2d40!important;
}

.input-edit:focus{
  box-shadow: 2px 2px 2px 2px #D49596!important;
  border: 1px solid #D49596!important;
}